# Contagem* de modificações de campos por tempo desde a criação do bug report
\* Considerando apenas os 39 campos não *custom field*.


**Observação**: Como a feature creation_time (data de criação) não foi baixada inicialmente com a base, ao baixar tal feature para todos os bug reports da base, o bug report de id 1604167 ficou de fora desta análise por ter passado a ser privado.

## Importações

In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

plt.style.use('ggplot')
pd.set_option('display.float_format', lambda x: '%.2f' % x)

df_bugs = pd.read_json('data\\processed_bugs_total_changes_date.json')
df_bugs = df_bugs.drop(columns=['bug_id'])

## 1. Estatísticas

In [2]:
df_bugs.describe()

       up to 1h  up to 12h  up to 1 week     total
count 690816.00  690816.00     690816.00 690816.00
mean       1.50       2.66          5.66     12.24
std        2.10       3.26          6.23     15.20
min        0.00       0.00          0.00      2.00
25%        0.00       0.00          2.00      5.00
50%        1.00       2.00          4.00      8.00
75%        2.00       4.00          8.00     14.00
max      344.00     344.00        492.00   1793.00

## 2. Estatísticas sobre a porcentagem de modificações por tempo desde a data de criação

In [3]:
df_bugs['Pct of up to 1h'] = (df_bugs['up to 1h']/df_bugs['total']) * 100
df_bugs['Pct of up to 12h'] = (df_bugs['up to 12h']/df_bugs['total']) * 100
df_bugs['Pct of up to 1 week'] = (df_bugs['up to 1 week']/df_bugs['total']) * 100

df_bugs[['Pct of up to 1h', 'Pct of up to 12h', 'Pct of up to 1 week']].describe()

       Pct of up to 1h  Pct of up to 12h  Pct of up to 1 week
count        690816.00         690816.00            690816.00
mean             17.88             29.82                55.00
std              23.96             31.00                36.55
min               0.00              0.00                 0.00
25%               0.00              0.00                22.22
50%               8.33             20.00                55.56
75%              28.57             47.62               100.00
max             100.00            100.00               100.00